<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Banking System Home Page</title>
</head>
            <nav>
                <ul>
                
                {% if user.is_authenticated %}
                    <li>
                        <form class="logout-link" action="/accounts/logout/" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                {% else %}
                 <h1> <a href="http://127.0.0.1:8000/accounts/signup">Sign Up</a> </h1>
				 <h1> <a href="http://127.0.0.1:8000/accounts/login">Log in</a> </h1>   
                    
                {% endif %}
                    
                </ul>
            </nav>
            

<link rel= "stylesheet" href="/static/styles.css">

<body>
{% block content %}
{% endblock %}

</body>

</html>